
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey">
           
  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" routerLink="" routerLinkActive="active">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/7d/1e/7c/7d1e7cf7d20c2bf4686cb35c4a958e2d.png" height="30" alt="">
        <strong>ibranium    </strong>
    </a>
</logo>
  <!-- Collapsible content -->
  <links>

      <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/landingpage" routerLinkActive="active" mdbRippleRadius>Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/products" routerLinkActive="active"  mdbRippleRadius>Products
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link waves-light"  routerLink="/aboutus" routerLinkActive="active" mdbRippleRadius>About Us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item " >
            <a class="nav-link waves-light" routerLink="/contactus" routerLinkActive="active" mdbRippleRadius>Contact Us
              <span class="sr-only">(current)</span>
            </a>
          </li>      
          <li class="nav-item " >
            <a class="nav-link waves-light" routerLink="/events" routerLinkActive="active" mdbRippleRadius>Events
              <span class="sr-only">(current)</span>
            </a>
          </li>  
        </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
          